EmployeesTeams/__pycache__
__pycache__
Projects/lala.py
Projects/test.py
Pendientes.txt
~$ReportePlanificacion.xlsx
~$Reporte de Planificacion.xlsx
~$Departamento Tipo A.xlsx
~$Costo Estandar Departamento Tipo A.xlsx
~$PPta Costa Cachagua Etapa 3_V1_09.03.2017.xlsx
~$Purchases.xlsx
reportes/
Model/